.tv-background {
  padding: 3%;

  .all-titles-main-read-along,
  .all-titles-main-buddies-next-door,
  .media-preview-main-read-along,
  .media-preview-main-buddies-next-door,
  .tv-contents {
    border: 20px solid rgb(188, 188, 188);
    border-radius: 5px;
    box-shadow: $shadowCenter;
    background-image: url("../images/Zene\ N\ Zeanne\ Background.png");
    background-size: cover;
    color: white;
    height: 5in;
    overflow-y: scroll;
  }
}

.tv-background,
.tv-background-zene-n-zeanne-bedroom-v4 {
  background: rgb(255, 246, 204);
}

.tv-background-zene-n-zeanne-bedroom-v2 {
  background: #fcc300;
}

.tv-background-zene-n-zeanne-classroom-v4 {
  background: #269bdf;

  .tv-contents {
    border: 20px solid black;
  }
}

.tv-background-zene-n-zeanne-classroom-v2 {
  background: #fee4c1;
  border-bottom: 30px solid #2da4a8;

  .tv-contents {
    border: 20px solid black;
  }
}